
@{
    ViewBag.Title = "Cursos";
}

<!-- Inicia contenido de la Página -->
<div class="right_col" role="main">
    <h1>Esta es la página de Cursos,aqui va otro formulario</h1>
</div>
<!--Fin del contenido de la página -->
