@{
    ViewBag.Title = "Home Page";
}

<!-- Inicia contenido de la Página -->
<div class="right_col" role="main">
   <h1>Esta es la página de la empresa, aqui va un formulario</h1>
</div>
<!--Fin del contenido de la página -->
         