
@{
    ViewBag.Title = "Instructor";
}

<!-- Inicia contenido de la Página -->

<div class="right_col" role="main">
    <h1>Descuentos</h1>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios</h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">Tipo de tratamiento</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Numero de Salarios</th>
                            <th scope="col">Cotizacion evaluacion y certificado</th>
                            <th scope="col">Cotizacion capacitacion evaluacion certificado</th>
                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>     26</td>
                            <td rowspan="3">$2,481.24</td>
                            <td rowspan="3">$4,0562.28</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>    26</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 2</td>
                            <td>$400.20</td>
                            <td>    5</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">Tipo de tratamiento</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Numero de Salarios</th>
                            <th scope="col">Cotizacion evaluacion y certificado</th>
                            <th scope="col">Cotizacion capacitacion evaluacion certificado</th>
                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>30</td>
                            <td rowspan="3">$2,961.48</td>
                            <td rowspan="3">$5,362.68</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>30</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 3</td>
                            <td>$400.20</td>
                            <td>7</td>

                        </tr>


                    </table>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">Tipo de tratamiento 2 y 3</th>
                            <th scope="col">Precio promedio</th>

                            <th scope="col">Cotizacion evaluacion y certificado promedio </th>
                            <th scope="col">Cotizacion capacitacion evaluacion certificado promedio</th>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION</td>
                            <td>$2,241.13</td>

                            <td rowspan="3">$2,721.37</td>
                            <td rowspan="3">$4,962.50</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION</td>
                            <td>$2,241.13</td>


                        </tr>

                        <tr>
                            <td>CERTIFICADO</td>
                            <td>$480.24</td>


                        </tr>


                    </table>
                </div>

            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios especiales </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">ALUMNOS REGULARES Y EGRESADOS</th>
                            <th colspan="2" scope="col">Descuento 50%</th>
                            <th scope="col">Cotizacion</th>
                            <th scope="col">Cotizacion</th>

                        </tr>

                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO</td>
                            <td>DESCUENTO</td>
                            <td>EVALUACION Y CERTIFICADO</td>
                            <td>CAPACITACION  EVALUACION  CERTIFICADO</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 2</td>
                            <td>$1,040.52</td>
                            <td>$1,040.52</td>
                            <td rowspan="3">$1,440.72</td>
                            <td rowspan="3">$2,481.24</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 2</td>
                            <td>$1,040.52</td>
                            <td>$1,040.52</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 2</td>
                            <td>$400.20</td>
                            <td>N/A</td>

                        </tr>

                    </table>
                </div>

                <div class="x_content">

                    <table border="1">

                        <tr>
                            <th scope="col">ALUMNOS REGULARES Y EGRESADOS</th>
                            <th colspan="2" scope="col">Descuento 50%</th>
                            <th scope="col">Cotizacion</th>
                            <th scope="col">Cotizacion</th>

                        </tr>

                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO</td>
                            <td>DESCUENTO</td>
                            <td>EVALUACION Y CERTIFICADO</td>
                            <td>CAPACITACION  EVALUACION  CERTIFICADO</td>
                        </tr>


                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 3</td>
                            <td>$1,200.60</td>
                            <td>$1,200.60</td>
                            <td rowspan="3">$1,760.88</td>
                            <td rowspan="3">$2,961.48</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 3</td>
                            <td>$1,200.60</td>
                            <td>$1,200.60</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 3</td>
                            <td>$560.28</td>
                            <td>N/A</td>

                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios especiales </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">TRATAMIENTO INTEGRAL PARA PROFESORES</th>
                            <th colspan="2" scope="col">Descuento 72%</th>
                            <th scope="col">Cotizacion</th>
                            <th scope="col">Costo total</th>

                        </tr>

                        <tr>
                            <td>ESTANDAR EC0217</td>
                            <td>PRECIO</td>
                            <td>DESCUENTO</td>
                            <td>CAPACITACION, EVALUACION Y CERTIFICADO</td>
                            <td rowspan="8">$3,000.00</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION</td>
                            <td>$469.86</td>
                            <td>$1,931.34</td>
                            <td rowspan="3">$1,500.00</td>


                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION</td>
                            <td>$469.86</td>
                            <td>$1,931.34</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO</td>
                            <td>$560.28</td>
                            <td>N/A</td>

                        </tr>




                        <tr>
                            <td>ESTANDAR EC0391</td>
                            <td>PRECIO</td>
                            <td>DESCUENTO</td>
                            <td>CAPACITACION, EVALUACION Y CERTIFICADO</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION</td>
                            <td>$469.86</td>
                            <td>$1,931.34</td>
                            <td rowspan="3">$1,500.00</td>


                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION</td>
                            <td>$469.86</td>
                            <td>$1,931.34</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO</td>
                            <td>$560.28</td>
                            <td>N/A</td>

                        </tr>


                    </table>
                </div>



            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios especiales </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">GRUPO SEMILLA PARA PROFESORES</th>
                            <th colspan="2" scope="col">Descuento 70%</th>
                            <th scope="col">CAPACITACION, EVALUACION Y CERTIFICADO</th>

                        </tr>

                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO DE LISTA</td>
                            <td>PRECIO CON DESCUENTO</td>
                            <td rowspan="4">$1,648.82</td>
                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>$624.31</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>$624.31</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 2</td>
                            <td>$400.20</td>
                            <td>N/A</td>

                        </tr>




                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO DE LISTA</td>
                            <td>PRECIO CON DESCUENTO</td>
                            <td>CAPACITACION, EVALUACION Y CERTIFICADO</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE CAPACITACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>$720.36</td>
                            <td rowspan="4">$2,001.00</td>


                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>$720.36</td>

                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 3</td>
                            <td>$560.28</td>
                            <td>N/A</td>

                        </tr>


                    </table>
                </div>



            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios especiales </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">DESCUENTO PARA RECERTIFICACIÓN DE  PERSONAL DOCENTE Y ADMINISTRATIVO </th>
                            <th colspan="2" scope="col">Descuento 70%</th>
                            <th scope="col">Cotizacion</th>


                        </tr>

                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO DE LISTA</td>
                            <td>PRECIO CON DESCUENTO</td>
                            <td>EVALUACION Y CERTIFICADO</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>$624.31</td>
                            <td rowspan="2">$1,024.51</td>


                        </tr>

                        <tr>
                            <td>CERTIDICADO NIVEL 2</td>
                            <td>$400.20</td>
                            <td>N/A</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>720.36</td>
                            <td rowspan="2">$1,280.64</td>
                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 3</td>
                            <td>$560.28</td>
                            <td>N/A</td>

                        </tr>
                    </table>
                </div>



            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Precios especiales </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">DESCUENTO DE RECERTIFICACIÓN PARA CANDIDATOS EXTERNOS </th>
                            <th colspan="2" scope="col">Descuento 50%</th>
                            <th scope="col">Cotizacion</th>


                        </tr>

                        <tr>
                            <td>TIPO DE TRATAMIENTO</td>
                            <td>PRECIO DE LISTA</td>
                            <td>PRECIO CON DESCUENTO</td>
                            <td>EVALUACION Y CERTIFICADO</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 2</td>
                            <td>$2,081.04</td>
                            <td>$1,040.52</td>
                            <td rowspan="2">$1,440.72</td>


                        </tr>

                        <tr>
                            <td>CERTIDICADO NIVEL 2</td>
                            <td>$400.20</td>
                            <td>$0.00</td>

                        </tr>

                        <tr>
                            <td>PROCESO DE EVALUACION NIVEL 3</td>
                            <td>$2,401.20</td>
                            <td>$1,200.60</td>
                            <td rowspan="2">$1,760.88</td>
                        </tr>

                        <tr>
                            <td>CERTIFICADO NIVEL 3</td>
                            <td>$560.28</td>
                            <td>$160.08</td>

                        </tr>
                    </table>
                </div>



            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Descuentos</h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">


                        <tr>
                            <td>Descuento para alumnos egresados TSU e ING.  regulares</td>
                            <td>50%</td>
                            <td>Alumnos egresados de la UTCJ de los niveles de TSU e ING.</td>


                        </tr>

                        <tr>
                            <td>Descuento para profesores por tratamiento integral</td>
                            <td>72%</td>
                            <td>Tratamiento Integral; Es la capacitación, evaluación y certificación en los estandares de competencia EC0217 y EC0301 contratados por el personal docente de la UTCJ</td>



                        </tr>

                        <tr>
                            <td>Profesores que conformen el primer Grupo Semilla de Estándares de Competencia Acreditados </td>
                            <td>70%</td>
                            <td>El Grupo semilla son aquellos profesores seleccionados por sus respectivas Direcciones de Carrera para llevar a cabo los primeros procesos de capacitacion y evaluación en un estandar acreditado</td>

                        </tr>

                        <tr>
                            <td>Descuento a personal docente PA y PTC de la UTCJ.</td>
                            <td>25%</td>
                            <td>Correspondiente a todos los docentes</td>

                        </tr>

                        <tr>
                            <td>Descuento a personal administrativo y de servicios de la UTCJ</td>
                            <td>25%</td>
                            <td>Correspondiente a todo el personal administrativo y de servicios.   </td>

                        </tr>
                        <tr>
                            <td>Profesionistas y trabajadores de los sectores productivos</td>
                            <td>N/A</td>
                            <td>El descuento aplica dependiendo a la cantidad de interesados (ver tabla de descuento para los sectores publicos y privados )</td>

                        </tr>
                        <tr>
                            <td>Profesores de educación básica, media superior y superior.</td>
                            <td>N/A</td>
                            <td>El descuento aplica dependiendo a la cantidad de interesados (ver tabla de descuento para los sectores publicos y privados)</td>

                        </tr>
                        <tr>
                            <td>Trabajadores del sector gobierno.</td>
                            <td>N/A</td>
                            <td>El descuento aplica dependiendo a la cantidad de interesados (ver tabla de descuento para los sectores publicos y privados )</td>

                        </tr>
                        <tr>
                            <td>Descuento por recertificación para candidatos externos.</td>
                            <td>50%</td>
                            <td>Aplica a solicitud de candidatos que comprueben su certificacion en 2 estandares </td>

                        </tr>
                        <tr>
                            <td>Descuento por recertificación para personal docente y administrativo.</td>
                            <td>70%</td>
                            <td>El descuento aplica para personal docente y administrativo en el caso que se les vencio su certificación y estan dispuestos a recertificarse</td>

                        </tr>
                        <tr>
                            <td colspan="3">Descuento por recertificación para personal docente y administrativo.</td>


                        </tr>
                    </table>
                </div>



            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>TABLA DE DESCUENTO PARA LOS SECTORES PUBLICOS Y PRIVADOS</h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 30% DE DESCUENTO(CAPACITACION, EVALUACION Y CERTIFICACION NIVEL 3)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>21</td>
                            <td>$3,753.88</td>
                            <td>$78,831.40</td>

                        </tr>


                        <tr>
                            <td>22</td>
                            <td>$3,753.88</td>
                            <td>$82,585.36</td>

                        </tr>

                        <tr>
                            <td>23</td>
                            <td>$3,753.88</td>
                            <td>$86,339.24</td>

                        </tr>

                        <tr>
                            <td>24</td>
                            <td>$3,753.88</td>
                            <td>$90,093.12</td>

                        </tr>


                        <tr>
                            <td>25</td>
                            <td>$3,753.88</td>
                            <td>$93,847.00</td>

                        </tr>


                    </table>
                </div>
                <div class="x_content">
                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 30% DE DESCUENTO(CAPACITACION, EVALUACION Y CERTIFICACION NIVEL 2)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>21</td>
                            <td>$3,193.60</td>
                            <td>$67,065.52</td>

                        </tr>


                        <tr>
                            <td>22</td>
                            <td>$3,193.60</td>
                            <td>$70,259.20</td>

                        </tr>

                        <tr>
                            <td>23</td>
                            <td>$3,193.60</td>
                            <td>$73,452.80</td>

                        </tr>

                        <tr>
                            <td>24</td>
                            <td>$3,193.60</td>
                            <td>$76,646.40</td>

                        </tr>


                        <tr>
                            <td>25</td>
                            <td>$3,193.60</td>
                            <td>$79,840.00</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">
                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 15% (CAPACITACION, EVALUACION Y CERTIFICACION NIVEL 3)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>6</td>
                            <td>$4,558.28</td>
                            <td>$27,349.67</td>

                        </tr>


                        <tr>
                            <td>7</td>
                            <td>$4,558.28</td>
                            <td>$31,907.95</td>

                        </tr>

                        <tr>
                            <td>8</td>
                            <td>$4,558.28</td>
                            <td>$36,466.22</td>

                        </tr>

                        <tr>
                            <td>9</td>
                            <td>$4,558.28</td>
                            <td>$41,024.50</td>

                        </tr>


                        <tr>
                            <td>10</td>
                            <td>$4,558.28</td>
                            <td>$45,585.78</td>

                        </tr>


                    </table>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 15% (CAPACITACION, EVALUACION Y CERTIFICACION NIVEL 2)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>6</td>
                            <td>$3,877.94</td>
                            <td>$23,267.63</td>

                        </tr>


                        <tr>
                            <td>7</td>
                            <td>$3,877.94</td>
                            <td>$27,145.58</td>

                        </tr>

                        <tr>
                            <td>8</td>
                            <td>$3,877.94</td>
                            <td>$31,023.52</td>

                        </tr>

                        <tr>
                            <td>9</td>
                            <td>$3,877.94</td>
                            <td>$34,901.46</td>

                        </tr>


                        <tr>
                            <td>10</td>
                            <td>$3,877.94</td>
                            <td>$38,779.40</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 20% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 3)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>11</td>
                            <td>$4,290.14</td>
                            <td>$47,191.58</td>

                        </tr>


                        <tr>
                            <td>12</td>
                            <td>$4,290.14</td>
                            <td>$51,481.68</td>

                        </tr>

                        <tr>
                            <td>13</td>
                            <td>$4,290.14</td>
                            <td>$55,771.82</td>

                        </tr>

                        <tr>
                            <td>14</td>
                            <td>$4,290.14</td>
                            <td>$60,061.96</td>

                        </tr>


                        <tr>
                            <td>15</td>
                            <td>$4,290.14</td>
                            <td>$64,352.10</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 20% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 2)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>11</td>
                            <td>$3,649.82</td>
                            <td>$40,148.06</td>

                        </tr>


                        <tr>
                            <td>12</td>
                            <td>$3,649.82</td>
                            <td>$43,797.84</td>

                        </tr>

                        <tr>
                            <td>13</td>
                            <td>$3,649.82</td>
                            <td>$47,447.66</td>

                        </tr>

                        <tr>
                            <td>14</td>
                            <td>$3,649.82</td>
                            <td>$51,097.48</td>

                        </tr>


                        <tr>
                            <td>15</td>
                            <td>$3,649.82</td>
                            <td>$54,747.30</td>

                        </tr>


                    </table>
                </div>


                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 25% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 3)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>16</td>
                            <td>$4,022.01</td>
                            <td>$64,352.16</td>

                        </tr>


                        <tr>
                            <td>17</td>
                            <td>$4,022.01</td>
                            <td>$68,374.17</td>

                        </tr>

                        <tr>
                            <td>18</td>
                            <td>$4,022.01</td>
                            <td>$72,369.18</td>

                        </tr>

                        <tr>
                            <td>19</td>
                            <td>$4,022.01</td>
                            <td>$76,418.19</td>

                        </tr>


                        <tr>
                            <td>20</td>
                            <td>$4,022.01</td>
                            <td>$80,440.20</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 25% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 2)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>16</td>
                            <td>$3,421.71</td>
                            <td>$54,747.36</td>

                        </tr>


                        <tr>
                            <td>17</td>
                            <td>$3,421.71</td>
                            <td>$58,169.07</td>

                        </tr>

                        <tr>
                            <td>18</td>
                            <td>$3,421.71</td>
                            <td>$61,590.78</td>

                        </tr>

                        <tr>
                            <td>19</td>
                            <td>$3,421.71</td>
                            <td>$65,012.49</td>

                        </tr>


                        <tr>
                            <td>20</td>
                            <td>$3,421.71</td>
                            <td>$68,434.20</td>

                        </tr>


                    </table>
                </div>



                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 30% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 3)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>21</td>
                            <td>$3,753.88</td>
                            <td>$78,831.40</td>

                        </tr>


                        <tr>
                            <td>22</td>
                            <td>$3,753.88</td>
                            <td>$82,585.36</td>

                        </tr>

                        <tr>
                            <td>23</td>
                            <td>$3,753.88</td>
                            <td>$86,339.24</td>

                        </tr>

                        <tr>
                            <td>24</td>
                            <td>$3,753.88</td>
                            <td>$90,093.12</td>

                        </tr>


                        <tr>
                            <td>25</td>
                            <td>$$3,753.88</td>
                            <td>$93,874.00</td>

                        </tr>


                    </table>
                </div>

                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col" colspan="3">PRECIO DE LISTA CON EL 30% DE DESCUENTO (CAPACITACIÓN, EVALUACIÓN Y CERTIFICACIÓN NIVEL 2)</th>

                        </tr>

                        <tr>
                            <td>PERSONAS</td>
                            <td>PRECIO POR PERSONA</td>
                            <td>PRECIO POR GRUPO</td>

                        </tr>

                        <tr>
                            <td>21</td>
                            <td>$3,193.60</td>
                            <td>$67,065.52</td>

                        </tr>


                        <tr>
                            <td>22</td>
                            <td>$3,193.60</td>
                            <td>$70,259.20</td>

                        </tr>

                        <tr>
                            <td>23</td>
                            <td>$3,193.60</td>
                            <td>$73,452.80</td>

                        </tr>

                        <tr>
                            <td>24</td>
                            <td>$3,193.60</td>
                            <td>$76,646.40</td>

                        </tr>


                        <tr>
                            <td>25</td>
                            <td>$3,193.60</td>
                            <td>$79,840.00</td>

                        </tr>


                    </table>
                </div>


                <div class="x_content">

                    <table border="1">
                        <tr>
                            <td>Nota aclaratoria: Toda negociación que surja y no este contemplada en esta lista de precios se considerara para su autorización correspondiente.</td>


                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>PAGO A PRESTADORES DE SERVICIO  </h2>

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table border="1">
                        <tr>
                            <th scope="col">CAPACITACIÓN  por hora 2015</th>
                            <th scope="col">CAPACITACIÓN por hora 2016</th>
                            <th scope="col">CAPACITACIÓN por hora 2017</th>

                        </tr>

                        <tr>
                            <td>$160.00</td>
                            <td>$192.00</td>
                            <td>$211.20</td>
                          
                        </tr>

                        <tr>
                            <th scope="col">EVALUACIÓN por hora 2015</th>
                            <th scope="col">EVALUACIÓN por hora 2016</th>
                            <th scope="col">EVALUACIÓN por hora 2017</th>

                        </tr>

                        <tr>
                            <td>$100.00</td>
                            <td>$120.00</td>
                            <td>$132.00</td>

                        </tr>

                       


                    </table>
                </div>



            </div>
        </div>
    </div>

</div>


<!--Fin del contenido de la página -->
