
@{
    ViewBag.Title = "Mision";
}

<h2>Mision</h2>
<asp:Image id="Image1" runat="server" Height="59px" ImageUrl="C:\Users\ar_es\Desktop\Screenshot_3.png" runat="server" Width="190px" AlternateText="Imagen no disponible" ImageAlign="TextTop" />
