
@{
    ViewBag.Title = "Mision";
}

<div class="right_col" role="main">
    <h2>Mision</h2>

    <img src="C:\Users\ar_es\Source\Repos\UTCJ_Estadias_20182\WebApplication1\Views\Home\Imagenes\Screenshot_3.png" alt="..." class="img-circle profile_img">

    <asp:Image id="Image1" runat="server" Height="59px" ImageUrl="C:\Users\ar_es\Desktop\Screenshot_3.png" runat="server" Width="190px" AlternateText="Imagen no disponible" ImageAlign="TextTop" />
</div>
