
@{
    ViewBag.Title = "Mision";
}

<div class="right_col" role="main">
    

    
    <div style="text-align: justify;">
        <p style="margin: 0px 0px 10px; line-height: 1.6; color: #444444; font-family: &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">
            <br>
        </p>
        <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">POLÍTICA DE​ CALIDAD</h2>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">
            La Universidad Tecnológica de Ciudad Juárez se compromete a formar Técnicos Superiores Universitarios,
            así como Profesionistas en programas de continuidad de estudios hasta el Nivel Académico de Licenciatura,
            a través de un modelo educativo de calidad, intensivo e innovador, con aplicación de avances científicos
            y tecnológicos basado en un proceso de mejora continua que cumpla con los requisitos del cliente y el
            Sistema de Gestión de la Calidad.
        </h3>
        <p>​<br></p>
        <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">VISIÓ​​N</h2>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">
            Ser una Institución de Educación Superior con programas de estudio adecuados a la demanda de la sociedad,
            apegados a las reformas educativas del país, con un fuerte compromiso y responsabilidad social,&nbsp; que
            busca satisfacer las expectativas del estudiantado, del personal y la comunidad, con reconocimiento nacional
            e internacional por nuestra calidad educativa, distinguiéndose por sus valores y los objetivos de eficacia,
            eficiencia, pertinencia, vinculación y equidad.
        </h3>
        <p>​<br></p>
        <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">MISIÓN</h2>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">
            Somos una Institución de Educación Superior basada en un modelo innovador de alta calidad, aplicando avances
            científicos y tecnológicos basados en competencias,&nbsp; que forma profesionistas en los niveles Técnico
            Superior Universitario y Licenciatura, con conocimientos adquiridos de forma práctica, obteniendo el compromiso
            de apoyar al crecimiento del estado.
        </h3>
        <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;"><br>VALORES</h2>
        <p></p><ul>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Liderazgo<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Trabajo en equipo<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Comunicación efectiva<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Calidad en los procesos y resultados<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Reconocimiento social y rendición de cuentas<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Transparencia<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Compromiso institucional<br></h3>
            </li>
        </ul>&nbsp;
        <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">OBJETIVOS</h2>
        <ul>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Eficacia<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Eficiencia<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Pertinencia<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Vinculación<br></h3>
            </li>
            <li>
                <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Equidad<br></h3></li>
        </ul><p></p>
    </div>
    
    
    
    <div style="text-align: justify;">
    <br>
    <h2 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #339933; font-size: 1.46em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">​Para mayor información:</h2>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Departamento de Gestión de la Calidad</h3>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Ing. Rene Juárez</h3>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;">Jefe del Departamento de Gestión de la Calidad</h3>
        <h3 style="margin: auto; font-weight: 300; font-family: &quot;segoe ui semilight&quot;, &quot;segoe ui&quot;, segoe, tahoma, helvetica, arial, sans-serif; color: #262626; font-size: 1.15em; line-height: 1.4; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(255, 255, 255, 0.9); text-decoration-style: initial; text-decoration-color: initial; min-width: 0px !important;"><a href="mailto:rene_juarez@utcj.edu.mx" style="color: #20ad95; text-decoration: none; min-width: 0px !important;">rene_juarez@utcj.edu.mx</a>
                                                                                                                                                                                                                                            </h3>
    <br>
    <br>
    </div>

</div>
